body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(10, 200px);
    grid-gap: 0;
}
.grid-item {
    background-color: darkgray;
}
.sidebar {
    grid-row: span 5;
    background-color: #fbcfe8;
    box-shadow: 5px  5px 5px rgb(0 0 0 / 0.1);
    z-index: 2;
}
.side-nav{
    margin-bottom: 60px;
    list-style-type: none;
    padding: 10px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.side-nav-2 {
    margin-top: 370px;
    list-style-type: none; 
    padding: 10px;
    line-height: 40px; 
     cursor: pointer;
}
.material-icons{
    padding: 0 10px 0 10px;
  vertical-align: sub;
}

.side-nav li:hover {
    color: #831843;
    background-color: #fae8ff;
    animation-name: pop;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.side-nav-2 li:hover {
    color: #831843;
}

.header {
    grid-column: 2 / 8;
    background-image: url(https://cdn.wallpapersafari.com/89/88/fuMOWN.jpg);
     box-shadow: 0  5px 5px rgb(0 0 0 / 0.1); 
    z-index: 3;

}
.profile{    
   display: flex;
    padding: 5px;
    position: absolute;
    margin: -60px 0 0 950px;
    background-color: #fbcfe8;
    border-radius: 900px;
    box-shadow: 5px 5px 5px #f472b6;
   
}
.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
     cursor: pointer;
}
.profile h2 {
    font-size: 18px;
    margin: 20px 8px 0 0;
     cursor: pointer;
    color: black;
}
.title-area img{
    width: 80px; 
    position: absolute;
    box-shadow: 5px 5px 5px #f472b6;
    z-index: -1;
}

.title-area {
    display: flex;
   margin-top: 50px;
    
}
.title-area h1 {
    font-size: 50px;
    margin: 0 0 0 80px;
    background-color: white;
    padding: 5.5px;
    box-shadow: 5px 5px 5px #f472b6;
}
.title-area h1:hover{
    color: #831843;
    cursor: pointer;
}
.main {
    grid-column: 2 / 8;
    grid-row: 2 / 5;
    background-color: #fce7f3; 
    z-index: 1;
    box-shadow: 0  5px 5px rgb(0 0 0 / 0.1);
}
.footer {
    grid-column: 2 /8;
    grid-row: 5 / 6;
    background-color: #fb7185;
    z-index: -1;
}

@keyframes pop {
    0% {margin: 0;} 
    50% {margin-left: 3px;}
    100% {margin-left: 5px;}
}

.grid-container-2 {
     display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px ;
    grid-gap: 50px;
   justify-content: center;
   margin-top: 50px;
    
}
.small-grid-item{
    background-color: white;
    border: 1px solid #f472b6;
    box-shadow: 5px 5px 5px #f472b6; 
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.small-panel{
    grid-column: 3/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px;
    grid-gap: 30px;
    background-color: white;
    border: 1px solid #f472b6;
    box-shadow: 5px 5px 5px #f472b6;
    border-radius: 10px;
    
}
.small-panel-items {
background-color: #fbcfe8;
    color: white;
    text-shadow: 2px 2px 8px #831843;
    height: 150px;
    width: 278px;
    margin-top: 50px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px #f472b6;
    border-radius: 10px;
    
   
}

.annoucements {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 50px 50px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 9px;
}
.ann-item {
    background-color: #f9a8d4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #f472b6;
    border: 1px solid #f472b6;
    cursor: pointer;
    color: black;
    text-shadow: none;
}
.username {
    color: #4d7c0f;
    text-shadow: 2px 2px 2px white;
    
}

.ann-item:hover{
    background: #9d174d;
    color: white;
    animation-name: pop;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.small-grid-item:hover{
    animation-name: press;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes select{
    10% {margin-top: 10px;}
    20% {margin-top: 12px;}
    30% {margin-top: 13px;}
    40% {margin-top: 14px;}

}
@keyframes press{
    
    0% {box-shadow: 5px 5px 5px #f472b6; font-size: 10px;}
    25% {box-shadow: 3px 3px 3px #f472b6; margin: 0 0 5px 5px; font-size: 10px;}
    50% {box-shadow: 1px 1px 1px #f472b6; margin: 0 0 10px 10px; font-size: 10px;}
    75% {box-shadow: 0.5px 0.5px 0.5px #f472b6; margin: 0 0 15px 15px;}
    100% {box-shadow: none; margin: 0 0 20px 20px; font-size: 10px;}
}